*{
    margin: 0;
    padding: 0
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffffff;
}

.container .logo{
    align-items: center;
    color: #15f5f5;
    font-weight: bold;
    font-size: 20px;
    font-family: 'buntu';
    width: 10vw;
}

li, .menu-item {
    display: block;
    margin-right: 20px;
    font-size: 16px;
    font-weight: bold;
        
}
.busca{
    width: 150px
}

#menu-secundario .menu-item a{
    color: #3bb4b4
}

a{
    text-decoration: none;
    font-weight: bold;
    display: block;
    font-family: 'ubuntu';
}
header{
    position: fixed;
}

#menu{
    height: 205px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F2124;
    height: auto
}

.container{
    display: flex;
    justify-content: center;
    width: 100vw;
    align-items: center;

}
.container div{
    width: 1080px;
}

#primeiro div{
    display: flex;
    justify-content:center;
    position: relative;
}
form.busca {
    display: flex;
    align-items: center;
    margin-left: 25px;
    width: 280px;
    

}
.busca label, input{
    padding: 6px 10px 5px 16px;    border-radius: 25px;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    line-height: 19px;
    font-style: italic;
    font-weight: 500;
    font-size: 16px;
    border: none;
    color: #b4b4b4;
    outline: 0;
}
.busca label{
    border: 1px solid #fff;
    position: relative;
    
    
}

.bottom{
    padding: 5px 5px ;
    border-radius: 25px;
    border: none;
    font-size: 16px;
    font-weight: bold;
    background: #3bb4b4;
    line-height: 19px;
    box-shadow: 0 0 0 0;
    padding-right: 20px;
    position: absolute;
    outline: 0;
    right: 3px;
    color: #fff
    
}


#segundo{
    background-color: #110F0B;
}

.menu{
    display: flex;
    width: 1080px;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
}

#menu-principal{
    height: 100px
}

#menu-principal a{
    color: #ffffff;
}

#menu-secundario{
    height: 70px;
}

/*Inicio da main*/

main{
width:1080px;
margin-top:125px
}

.title-logo{

}

section, .block-rank {
    margin-top: 2px;
}

section ul{
    display: flex;
    flex-wrap: wrap;
}
#news1 ul{
    justify-content: space-between;

}
.news{
    background-color: #ffffff;
    margin-top: 25px;
    display: flex;
}

#news1 .news{
    width: 500px;
    height: 330px;
    flex-direction: column;
}

/*news 2*/


#news2{
    display: flex;

}

#news2 .news{
    display: flex;
    flex-direction: column;
    width: 360px;
}
.block-rank{
    flex-direction: column;
    width:15vw;
    color: #ffffff;

}

/* inicio news3 */

#news3{
    width: 100%;
    padding: 0 30px;
    background-color: #1D1B12;
}
#news3 ul{
    display: flex;
    justify-content: space-around;
    
}

#news3 .news{
    display: flex;
    flex-direction: column;
    width: 330px;
    margin: 20px 0;
}

/*inicio new3*/

#news4{
    display: flex;
    justify-content: space-between
}
#news4 ul{
    display: flex;
    flex-direction: column;
    width: 65%;

}

#news4 .noticia-img{
    width: 50%;
}

#news4 .block-lateral{
    width: 30%;
}

.block-lateral .news{
    display: flex;
    flex-direction: column;
}

#news4 .block-lateral .noticia-img{
    width: 100%;
}

