*{
    margin: 0;
    padding: 0
}

body {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    background-color: #282830;
   
}

#logo{
    background-color: #ffffff;
    width: 10vw;
    
}

li, .menu-item {
    display: block;
}

#menu-secundario .menu-item a{
    color: #3bb4b4
}

a{
    text-decoration: none;
    font-weight: bold;
    display: block;
}

header{
    width: 100vw;
    position: fixed;
}

#menu{
    height: 205px;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #1F2124;

}
.container{
    display: flex;
    width: 100%;
    justify-content: center;
}
.container div{
    width: 1080px;
}

#primeiro div{
    display: flex;
    justify-content:center;
}
#segundo{
    background-color: #110F0B;

}

.menu{
    display: flex;
    width: 1080px;
    height: auto;
    align-content: center;
    align-items: center;
    justify-content: space-around;
}

#menu-principal{
    height: 100px
}

#menu-principal a{
    color: #ffffff;
}

#menu-secundario{
    height: 70px;
}

/*Inicio da main*/

main{
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

section{
    width: auto;
    margin-top: 20px
}

section ul{
    display: flex;
    width: 1080px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news{
    width: 500px;
    height: 330px;
    background-color: #ffffff;
    margin: 25px 5px;
    display: flex;
    flex-direction: column
}

/*news 2*/
